GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_SPREADSHEET_ID=
FLIGHTS_FETCH_URL=https://data-live.flightradar24.com/zones/fcgi/feed.js?bounds=-1.81,-11.63,-44.87,-31.43&faa=1&satellite=1&mlat=1&flarm=1&adsb=1&gnd=1&air=1&vehicles=1&estimated=1&maxage=14400&gliders=1&stats=1
LOGGING_FILENAME=registros.log